<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/test.css">
    <link rel="stylesheet" href="../static/card.css">
    <link rel="stylesheet" href="../static/mainBlog.css">
    <link rel="stylesheet" href="../static/blogNavbar.css">

    <title>Document</title>


</head>

<body>
    <nav class="navigation">
        <ul class="menu">
            <li class="menu__item">
                <a href="#" class="menu__link">
                    <span class="menu__title">
                        <span class="menu__first-word" data-hover="Main">
                            Main
                        </span>
                        <span class="menu__second-word" data-hover="Home">
                            Home
                        </span>
                    </span>
                </a>
            </li>

            <li class="menu__item">
                <a href="#" class="menu__link">
                    <span class="menu__title">
                        <span class="menu__first-word" data-hover="My">
                            My
                        </span>
                        <span class="menu__second-word" data-hover="Post">
                            Post
                        </span>
                    </span>
                </a>
            </li>

            <li class="menu__item">
                <a href="#" class="menu__link">
                    <span class="menu__title">
                        <span class="menu__first-word" data-hover="Communication">
                            Communication
                        </span>
                        <span class="menu__second-word" data-hover="Board">
                            Board
                        </span>
                    </span>
                </a>
            </li>

            <li class="menu__item">
                <a href="#" class="menu__link">
                    <span class="menu__title">
                        <span class="menu__first-word" data-hover="Introduce">
                            Introduce
                        </span>
                        <span class="menu__second-word" data-hover="Me">
                            Me
                        </span>
                    </span>
                </a>
            </li>

            <li class="menu__item">
                <a href="#" class="menu__link">
                    <span class="menu__title">
                        <span class="menu__first-word" data-hover="Call">
                            Call
                        </span>
                        <span class="menu__second-word" data-hover="Me">
                            Me
                        </span>
                    </span>
                </a>
            </li>
        </ul>

        <div class="header">
            <h1>Story <span>of the</span> Spring</h1>
        </div>
        <main>
            <p>
                <h1>oereo's blog</h1>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
            <!-- <hr> -->
        </main>

        <div class="support-grid"></div>
        <div class="post-header">
            <span class = "point-color">M</span>y <span class = "point-color">P</span>ost
        </div>
        <div class="band">
            <div class="item-1">
                <a href="" class="card">
                    <div class="thumb"
                        style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/flex-1.jpg);">
                    </div>
                    <article>
                        <h1>오늘 하루 개발일지!! : AWS편</h1>
                        <p>AWS SMS와 Firebase를 이용해서 push 기능을 만들어보자.</p>
                        <span>2021년 04월 20일</span>
                    </article>
                </a>
            </div>
            <div class="item-2">
                <a href="" class="card">
                    <div class="thumb"
                        style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/users-2.png);">
                    </div>
                    <article>
                        <h1>Github 활용법</h1>
                        <p>Github 관리 어떻게 하면 좋을까?</p>
                        <span>2021년 03월 02일</span>
                    </article>
                </a>
            </div>
            <div class="item-3">
                <a href="" class="card">
                    <div class="thumb"
                        style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/flex-5.jpg);">
                    </div>
                    <article>
                        <h1>Django 기본편 1</h1>
                        <p>CRUD에 대해서 공부해보자! </p>
                        <span>2021년 01월 30일</span>
                    </article>
                </a>
            </div>
        </div>

        <div class="post-header">
            <br>
            <span class = "point-color">C</span>ommunication <span class = "point-color">B</span>oard
        </div>
        <div class="band">
            <div class="item-4">
                <a href="" class="card">
                    <div class="thumb"
                        style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/landing.png);">
                    </div>
                    <article>
                        <h1>나는 누구일까?</h1>
                        <p>나는 꿀꿀이기 전에 꿀꿀이었나..</p>
                        <span>작성자 : 인세훈</span>
                    </article>
                </a>
            </div>
            <div class="item-5">
                <a href="" class="card">
                    <div class="thumb"
                        style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/strange.jpg);">
                    </div>
                    <article>
                        <h1>나는 무엇을 좋아하나</h1>
                        <p>꿀꿀이니까 먹는 것을 좋아하나.</p>
                        <span>작성자 : 왕꿀꿀</span>
                    </article>
                </a>
            </div>
            <div class="item-6">
                <a href="" class="card">
                    <div class="thumb"
                        style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/flor.jpg);">
                    </div>
                    <article>
                        <h1>나는 지금 무엇을 하고 있는가</h1>
                        <p>꿀꿀이니까 먹는 것을 만들고 있는 중인가.</p>
                        <span>작성자 : 김꿀꿀</span>
                    </article>
                </a>
            </div>
            <div class="item-7">
                <a href="" class="card">
                    <div class="thumb"
                        style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/china.png);">
                    </div>
                    <article>
                        <h1>팀 스터디 구합니다!!</h1>
                        <p>자격조건 : 잘 먹는 사람</p>
                        <span>작성자 : 옹꿀꿀꿀</span>
                    </article>
                </a>
            </div>
        </div>

    </nav>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>
        $(window).load(function () {
            $('body').sakura();
        });
    </script>
</body>
<script src="../static/test.js"></script>

</html>