<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/test.css">
    <link rel="stylesheet" href="../static/card.css">
    <link rel="stylesheet" href="../static/mainBlog.css">
    <link rel="stylesheet" href="../static/blogNavbar.css">

    <title>Document</title>


</head>

<body>
    <nav class="navigation">
        <ul class="menu">
            <li class="menu__item">
                <a href="#" class="menu__link">
                    <span class="menu__title">
                        <span class="menu__first-word" data-hover="Main">
                            Main
                        </span>
                        <span class="menu__second-word" data-hover="Home">
                            Home
                        </span>
                    </span>
                </a>
            </li>

            <li class="menu__item">
                <a href="#" class="menu__link">
                    <span class="menu__title">
                        <span class="menu__first-word" data-hover="My">
                            My
                        </span>
                        <span class="menu__second-word" data-hover="Post">
                            Post
                        </span>
                    </span>
                </a>
            </li>

            <li class="menu__item">
                <a href="#" class="menu__link">
                    <span class="menu__title">
                        <span class="menu__first-word" data-hover="Communication">
                            Communication
                        </span>
                        <span class="menu__second-word" data-hover="Board">
                            Board
                        </span>
                    </span>
                </a>
            </li>

            <li class="menu__item">
                <a href="#" class="menu__link">
                    <span class="menu__title">
                        <span class="menu__first-word" data-hover="Introduce">
                            Introduce
                        </span>
                        <span class="menu__second-word" data-hover="Me">
                            Me
                        </span>
                    </span>
                </a>
            </li>

            <li class="menu__item">
                <a href="#" class="menu__link">
                    <span class="menu__title">
                        <span class="menu__first-word" data-hover="Call">
                            Call
                        </span>
                        <span class="menu__second-word" data-hover="Me">
                            Me
                        </span>
                    </span>
                </a>
            </li>
        </ul>

        <div class="header">
            <h1>Story <span>of the</span> Spring</h1>
        </div>
        <main>
            <p>
                <h1>oereo's blog</h1>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
            <hr>
        </main>

        <div class="support-grid"></div>

        <div class="band">
            <div class="item-1">
                <a href=""
                    class="card">
                    <div class="thumb"
                        style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/flex-1.jpg);">
                    </div>
                    <article>
                        <h1>International Artist Feature: Malaysia</h1>
                        <span>Mary Winkler</span>
                    </article>
                </a>
            </div>
            <div class="item-2">
                <a href=""
                    class="card">
                    <div class="thumb"
                        style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/users-2.png);">
                    </div>
                    <article>
                        <h1>How to Conduct Remote Usability Testing</h1>
                        <span>Harry Brignull</span>
                    </article>
                </a>
            </div>
            <div class="item-3">
                <a href=""
                    class="card">
                    <div class="thumb"
                        style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/flex-5.jpg);">
                    </div>
                    <article>
                        <h1>Created by You, July Edition</h1>
                        <p>Welcome to our monthly feature of fantastic tutorial results created by you, the Envato Tuts+
                            community! </p>
                        <span>Melody Nieves</span>
                    </article>
                </a>
            </div>
            <div class = "post-header">dfd</div>
            <div class="item-4">
                <a href=""
                    class="card">
                    <div class="thumb"
                        style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/landing.png);">
                    </div>
                    <article>
                        <h1>How to Code a Scrolling “Alien Lander” Website</h1>
                        <p>We’ll be putting things together so that as you scroll down from the top of the page you’ll
                            see an “Alien Lander” making its way to touch down.</p>
                        <span>Kezz Bracey</span>
                    </article>
                </a>
            </div>
            <div class="item-5">
                <a href=""
                    class="card">
                    <div class="thumb"
                        style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/strange.jpg);">
                    </div>
                    <article>
                        <h1>How to Create a “Stranger Things” Text Effect in Adobe Photoshop</h1>
                        <span>Rose</span>
                    </article>
                </a>
            </div>
            <div class="item-6">
                <a href=""
                    class="card">
                    <div class="thumb"
                        style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/flor.jpg);">
                    </div>
                    <article>
                        <h1>5 Inspirational Business Portraits and How to Make Your Own</h1>

                        <span>Marie Gardiner</span>
                    </article>
                </a>
            </div>
            <div class="item-7">
                <a href=""
                    class="card">
                    <div class="thumb"
                        style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/china.png);">
                    </div>
                    <article>
                        <h1>Notes From Behind the Firewall: The State of Web Design in China</h1>
                        <span>Kendra Schaefer</span>
                    </article>
                </a>
            </div>
        </div>
    </nav>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>
        $(window).load(function () {
            $('body').sakura();
        });
    </script>
</body>
<script src="../static/test.js"></script>

</html>